@model IEnumerable<TvcLab06.Models.TvcEmployee>

@{
    ViewData["Title"] = "Danh sách nhân viên";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-center mb-4">Danh sách nhân viên</h2>
        <a href="/TvcEmployee/TvcCreate" class="btn btn-primary">Thêm mới</a>
    </div>
  

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark text-center">
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Lương</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tvcEmp in Model)
            {
                <tr>
                    <td class="text-center">@tvcEmp.TvcId</td>
                    <td>@tvcEmp.TvcName</td>
                    <td>@tvcEmp.TvcBirthDay.ToString("dd/MM/yyyy")</td>
                    <td>@tvcEmp.TvcEmail</td>
                    <td>@tvcEmp.TvcPhone</td>
                    <td class="text-end">@tvcEmp.TvcSalary.ToString("N0") ₫</td>
                    <td class="text-center">
                        @if (tvcEmp.TvcStatus)
                        {
                            <span class="badge bg-success">Đang làm</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Nghỉ việc</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
